    :root{
     
        --color-text:#F6F6F5;
        --color-bg:#030528;
        --font-family:'Roboto', sans-serif;
        --color-aqua:#22c1c3;
       --gradient-bg:linear-gradient(90deg, rgba(2,0,36,1) 55%, rgba(0,212,255,1) 100%);
       --gradient-text:

       
      }

    .footer-text{
      text-align: center;
      font-size: 14px;
      font-weight: 200;
      color: #F6F6F5;
      margin-bottom: 20px;
     

      }
      